.App {
  text-align: center;
}
#textentry{
  margin: auto;
  width: min-content;
}
#textbox{
  width: 500px;
  height: 100px;
  resize: none;
}

table {
margin: auto;
}

th, td {
  border: 1px solid black;
}
table, th, td {
  padding: 2px;
}